.fc-today {
    background-color: lightgreen !important; 
}
  
.fc-event {
    /* background-color: deepskyblue !important; 
    border-color: deepskyblue !important; */
    color: white;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 170px; 
    display: inline-block; 
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 15px !important;
}
.dialog{
    z-index: 9999 !important;
}
  